# AWS Configuration for Athena Federated Analytics
AWS_REGION=eu-north-1
ATHENA_WORKGROUP=primary
ATHENA_OUTPUT_LOCATION=s3://athena-s3-rds-demo-2026-361646636192-eu-north-1-an/athena-results/
ATHENA_S3_DATABASE=retail_analytics
ATHENA_RDS_CATALOG=rds_mysql_catalog
ATHENA_RDS_DATABASE=retaildb
